.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-content: center;
  margin: 20px 0;
}
.detail_page {
  background: url("./images/bg3.png") no-repeat;
  background-size: cover;
  height: 100vh;
}
.products .card {
  margin: 10px auto;
  transition: all 0.5s;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
}
.products .card:hover {
  transform: scale(1.1);
}
.products .card-img-top {
  height: 250px;
  width: 100%;
}

.products .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.products .card-text {
  height: 70px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #444;
}

/* Detail product */

.detail_page .img-thumbnail.active {
  border-color: tomato;
  padding: 2px;
}
